<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Of Approval</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

    <script>
        $(document).ready(()=> {
            $("#exitbtn").click(() => {
                    window.location.href = "http://localhost:8085/web/dash";
                }
            );
        });
    </script>
</head>

<body>
<style>
    button {
        width: 70px;
        height: 30px;
    }

    body {
        background-color: lavender;
        background-repeat: no-repeat;
        background-size: cover;
    }

</style>
<img src="aaradhya logo.jpg" width="5px" height="5px">
<div class="container">
    <div class="row justify-content-center text-dark bg-info-subtle rounded-4 mt-3 col-lg-12 col-md-8 col-sm-12">
        <h1 class="text-center">List Of Approvals</h1>
    </div>

    <div class="row justify-content-around">
        <div class="col-lg-12 col-md-8 col-sm-12 card bg-info-subtle rounded-4 p-2 mt-2">
            <p>A bank is a financial institution which creates credit by lending money to a borrower thus creating a corresponding deposit on the bank’s balance sheet. <br>This blog talks about the key benefits of a bank account.</p>
        </div>
    </div>

    <div class="table-responsive mt-4 rounded-4">
        <table class="table text-dark table-striped p-2 shadow-lg text-nowrap" cellspacing="1px" cellpadding="1px">
            <tr class="bg-info">
                <th>Profile Id</th>
                <th>Customer Name</th>
                <th>Customer Address</th>
                <th>Customer Mobile Number</th>
                <th>Password</th>
            </tr>
            <tbody>
            <tr>
                <td>1001</td>
                <td>Sathish</td>
                <td>Global,Villag Bangalore</td>
                <td>9982765289</td>
                <td>sathsih123</td>
            </tr>

            <tr>
                <td>1002</td>
                <td>mayur</td>
                <td>Main road, Mangalore</td>
                <td>8729016627</td>
                <td>mayur123</td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            </tbody>

        </table>

    </div>

    <br>

    <button type="Exit" name="exitbtn" id="exitbtn" class="bg-danger">Exit</button>

</div>

</body>

</html>