<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <title>Document</title>
    <script>
        function loanTypeSpaceBlock() {
            var loanTypes=document.getElementById("loanType");
            if(loanTypes.selectionStart===0 && window.event.code==="Space"){
                window.event.preventDefault();
            }
        }
        function loanNameSpaceBlock(){
            var loanNames=document.getElementById("loanName");
            if(loanNames.selectionStart===0 && window.event.code==="Space"){
                window.event.preventDefault();
            }
        }
        function loanDescSpaceBlock() {
            var loanDescription=document.getElementById("loanDesc");
            if(loanDescription.selectionStart===0 && window.event.code==="Space"){
                window.event.preventDefault();
            }
        }
    </script>


<!--    script for the creation of the loan in bank-->
    <script>
        $(document).ready(function () {
//jQuery event when apply loan button is clicked
            $("#createbtn").click(()=>{
//Storing entered details into script variables.
                var loanType = $("input[name=loanType]").val()
                var loanName = $("input[name=loanName]").val()
                var loanDesc = $("input[name=loanDesc]").val()
                var loanROI = $("input[name=loanROI]").val()

                var soapRequest= "<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:soap=\"http://soap.bank.web.bankloansoapwebservice\">\n"+
                    " <soapenv:Header/>\n"+
                    "<soapenv:Body>\n"+
                    "<soap:createNewLoanRequest>\n"+
                    "<soap:bankloan>\n"+
                    "<soap:loanSchemeId>?</soap:loanSchemeId>\n"+
                    "<soap:loanSchemeType>"+loanType+"</soap:loanSchemeType>\n"+
                    "<soap:loanSchemeName>"+loanName+"</soap:loanSchemeName>\n"+
                    "<soap:loanSchemeDesc>"+loanDesc+"</soap:loanSchemeDesc>\n"+
                    "<soap:loanSchemeROI>"+loanROI+"</soap:loanSchemeROI>\n"+
                    "</soap:bankloan>\n"+
                    "</soap:createNewLoanRequest>\n"+
                    "</soapenv:Body>\n"+
                    "</soapenv:Envelope>"

//Validation
                $("#error").remove()
                // $("#success").remove()
// $("#responseMessage").remove()
                var correctLoanType=/([a-zA-Z',.-]+( [a-zA-Z',.-]+)*){2,30}/;
                try{
                    if(loanType===""|| loanName === "" || loanDesc===""|| loanROI === ""){
                        throw "All fields are mandatory"
                    }
                    // ajax for validation
                    $.ajax({
                        url: "http://localhost:8085/bankloanpoint",
                        type: "POST",
                        dataType: "xml",
                        contentType: "text/xml;charset=\"UTF-8\"",
                        data: soapRequest,
                        // if the creation is success it enters below
                        success: (data) => {
                            alert("LOAN CREATED!!");
                            window.location.href = "http://localhost:8085/web/loan/";

                        },
                        // on some error it enters below
                        error:()=>{
                            // alert("LOAN CREATION FAILED!!")
                            $("#loanExist").append("<div class='row justify-content-center bg-danger-subtle text-danger rounded-4 p-2 ms-3 me-3 mb-1' id='error'><p class='text-center'>"+"Loan Name ("+loanName+") Already Exist"+"</p></div>")

                        }
                    });
                }
                catch(errmsg){
                    $("#responseMessage").append("<div class='row justify-content-center bg-danger-subtle text-danger rounded-4 p-2 ms-3 me-3 mb-1' id='error'><p class='text-center'>"+errmsg+"</p></div>")
                }
            })
        })
        </script>
<!--    on click of back button go back to the loan scheme page-->
    <script>
        $(document).ready(()=> {
            $("#backbtn").click(() => {
                    window.location.href = "http://localhost:8085/web/loan";
                }
            );
        });
    </script>
    <style>
        body {
            background-color: lavender;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .backbutton {
            border: 2px solid black;
            width: 100px;
            height: 40px;
        }

        .imp img{
            max-width: 55px;
            float: left;
            margin: 0 10px 0 0;
            height: 40px;
        }

        .createbutton {
            border: 2px solid black;
            width: 100px;
            height: 40px;
        }

        /*to indicate the compulsory entered  field */
        .required:after {
            content:" *";
            color: red;
        }

    </style>
</head>
<body>
<!-- the main heading and logo of the bank-->
<nav class="navbar navbar-expand-lg">
    <!--    describe the nav bar like the background color and corner rounded-->
    <div class="container-fluid bg-dark rounded-4">
        <a class="navbar-brand " href="#">
            <!--            create the bank logo and name at the top-->
            <div class="row justify-content-center text-light bg-dark rounded-4 mt-3 col-lg-12 col-md-8 col-sm-12">
                <h1 class="text-center" > <img id="logo" th:src="@{/images/originlogo.png}" class="p-2 rounded-4" width="70px" height="70px" /> ORIGIN BANK</h1>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#union">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="union">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <!--                logout button-->
                <li class="nav-item text-center mt-2">
                    <a th:href="@{/logout}"><button class="btn btn-outline-danger rounded-4 me-2"><i class="bi bi-box-arrow-left"></i>Logout</button></a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<form class="justify-content-center row">
    <div class="justify-content-center row col-5 mt-4 d-flex bg-success-subtle text-center text-dark card p-2 rounded-3 shadow-lg">

        <!-- Loan type input -->
        <h3><b>Loan Creation</b></h3>
        <div class="form-outline mb-4">
            <label class=" required form-label"><b>Loan Type</b></label>
            <input type="text" id="loanType" name="loanType" onkeydown="loanTypeSpaceBlock()" class="form-control" placeholder="Loan Type" required />
        </div>

        <!-- Loan name input -->
        <div class="form-outline mb-4">
            <label class=" required form-label"><b>Loan Name</b></label>
            <input type="text" id="loanName" name="loanName" onkeydown="loanNameSpaceBlock()" class="form-control" placeholder="Loan Name" required/>
        </div>

        <!--Loan Description input -->
        <div class="form-outline mb-4">
            <label class=" required form-label"><b>Loan Description</b></label>
            <input type="text" id="loanDesc" name="loanDesc" onkeydown="loanDescSpaceBlock()" class="form-control" placeholder="Loan Description" required/>
        </div>

        <!-- Loan ROI input -->
        <div class="form-outline mb-4">
            <label class=" required form-label"><b>Loan ROI</b></label>
            <input type="number" id="loanROI" name="loanROI" onkeydown="SpaceBlock()" class="form-control" placeholder="Loan ROI"/>
        </div>
<!--        <p class="user text-danger"></p>-->
        <div id="responseMessage">

        </div>
        <div id="loanExist">

        </div>
        <!-- Submit button -->
       <p> <button type="button" class="createbutton btn btn-primary btn-block mb-4" id="createbtn">Create</button>
        <button type="button" class="backbutton btn btn-danger btn-block mb-4" id="backbtn">Back</button></p>

    </div>
</form>
</body>
</html>