<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<!--    script validation to display loan scheme available in the bank-->
    <script type="text/javascript">
             function fetchLoan() {
                $.get("/display", function (data) {

                    loanList = data;
                    // alert(loanList)
                    $(".rows").remove();
                    $.each(loanList, function (loanindex, item) {
                        // alert(item)
                        $("tbody").append("<tr class='rows'><td>" + item.loanSchemeId + "</td><td>" + item.loanSchemeType + "</td><td>" + item.loanSchemeName + "</td><td>" + item.loanSchemeDesc + "</td><td>" + item.loanSchemeROI + "</td></tr>");
                    })
                });
            }
            $(document).ready(()=> {
                fetchLoan();
            });
    </script>
<!--   script to navigate back to home page -->
    <script>
        $(document).ready(()=> {
            $("#backbtn").click(() => {
                    window.location.href = "http://localhost:8085/web/dash";
                }
            );
        });
    </script>
<!--    script to navigate to loan creation page-->
    <script>
        $(document).ready(()=> {
            $("#loanbtn").click(() => {
                    window.location.href = "http://localhost:8085/web/createloan";
                }
            );
        });
    </script>
</head>

<body>
<!-- the main heading and logo of the bank-->
<nav class="navbar navbar-expand-lg">
    <!--    describe the nav bar like the background color and corner rounded-->
    <div class="container-fluid bg-dark rounded-4">
        <a class="navbar-brand " href="#">
            <!--            create the bank logo and name at the top-->
            <div class="row justify-content-center text-light bg-dark rounded-4 mt-3 col-lg-12 col-md-8 col-sm-12">
                <h1 class="text-center" > <img id="logo" th:src="@{/images/originlogo.png}" class="p-2 rounded-4" width="70px" height="70px" /> ORIGIN BANK</h1>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#union">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="union">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <!--                logout button-->
                <li class="nav-item text-center mt-2">
                    <a th:href="@{/logout}"><button type="submit" class="btn btn-outline-danger rounded-4 me-2"><i class="bi bi-box-arrow-left"></i>Logout</button></a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<style>
    button {
        background-color: skyblue;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    /*styling the main body*/
    body {
        background-color: lavender;
        background-repeat: no-repeat;
        background-size: cover;
    }
    /*button specifications*/
    .backbutton {
        border: 2px solid black;
        width: 100px;
        height: 40px;
    }
    .loanbutton {
        border: 2px solid black;
        width: 100px;
        height: 40px;
    }
    table{
        table-layout: fixed;
        width: 100%;
    }
</style>

<img src="aaradhya logo.jpg" width="5px" height="5px">
<div class="container">
<!--    the main heading of page of what the page does-->
    <div class="row justify-content-center text-dark bg-success rounded-4 mt-3 col-lg-12 col-md-8 col-sm-12">
        <h1 class="text-center">Loan Scheme Available in Bank</h1>
    </div>
    <div class="row justify-content-around">

        <div class="col-lg-12 col-md-8 col-sm-12 card bg-success rounded-4 p-2 mt-2">
            <marquee><h4>Origin Bank provides the following Loans!</h4></marquee>
        </div>
    </div>

    <div class="table-responsive mt-4 rounded-4">
<!--        display in the table format-->
        <table class="table text-dark table-striped p-2 shadow-lg" cellspacing="1px" cellpadding="1px">
            <col width="10px" />
            <col width="15px" />
            <col width="15px" />
            <col width="50px" />
            <col width="10px" />
<!--            the heading of the table of each column -->
           <thead>
            <tr class="bg-success-subtle">
                <th>Loan ID</th>
                <th>Loan Type</th>
                <th>Loan Name</th>
                <th>Loan Description</th>
                <th>Loan ROI</th>
            </tr>
           </thead>
<!--            we get the details for the body through the script part-->
            <tbody>

            </tbody>

        </table>

    </div>

    <br>
<!--     buttons to create loan and go back to home page-->
    <p> <button type="button" class="loanbutton btn btn-primary btn-block mb-4" id="loanbtn">Create</button>
        <button type="button" class="backbutton btn btn-danger btn-block mb-4" id="backbtn">Back</button></p>
</div>
</body>
</html>