<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login page</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

        <style>
            form {
                background-image: url("../static/images/loginbg.jpg");
            }
            /*set height and width for the logo at the top*/
            #logo{
                width:70px;
                max-height: 70px;
            }
            /*set height and width for the image*/
            img{
                width:600px;
                max-height: 300px;
            }
            /*to indicate the compulsory entered  field */
             .required:after {
                 content:" *";
                 color: red;

                 }
        </style>
<!--        script to validate the login function-->
        <script>
            $(document).ready(()=> {
                $('#username').on('input', function () {
                    console.log("Entered the valid username");
                    var username = $(this).val();
                    var validUserName = /^[a-z]{3,}$/;
                    if (username.length === 0) {
                        $('.user').addClass('invalid-msg').text("username is required!!");
                        $(this).addClass('invalid-input').removeClass('valid-input');

                    } else if (!validUserName.test(username)) {
                        $('.user').addClass('invalid-msg').text('username must atleast 4 characters!!');
                        $(this).addClass('invalid-input').removeClass('valid-input');

                    } else {
                        $('.user').empty();
                        $(this).addClass('valid-input').removeClass('invalid-input');
                    }
                });
                $('#password').on('input', function () {
                    console.log("Entered the valid password");
                    var password = $(this).val();
                    var validPassword = /^[a-z]{4,}[0-9]{3}$/;
                    if (password.length === 0) {
                        $('.password').addClass('invalid-msg').text("username is required!!");
                        $(this).addClass('invalid-input').removeClass('valid-input');

                    } else if (!validPassword.test(password)) {
                        $('.password').addClass('invalid-msg').text('password must contain atleast 4 characters and 3 numbers!!');
                        $(this).addClass('invalid-input').removeClass('valid-input');

                    } else {
                        $('.password').empty();
                        $(this).addClass('valid-input').removeClass('invalid-input');
                    }
                });
            })


        </script>
    </head>

<body class="bg-light">
<div class="container">
<!--    to display the main heading at the top along with the bank logo-->
    <div class="row justify-content-center text-light bg-dark rounded-4 mt-3 col-lg-12 col-md-8 col-sm-12">
        <h1 class="text-center" > <img id="logo" th:src="@{/images/originlogo.png}" class="p-2" /> ORIGIN BANK</h1>
    </div>
<!--    we divide the whole page as a single row-->
    <div class="row">
<!--        consider the first column-->
        <div class=" col-lg-5 col-md-8 col-sm-12">
<!--            making of the login form-->
            <form name="login" th:action="@{/web/login}" onsubmit="return validateForm()" method="post" id="validation" class="bg-dark rounded-4 mt-4 p-4 ">
                <h2 class="fw-bold mb-2 text-uppercase text-light">Login</h2>
                <p class="text-white-50 mb-2">Please enter your User Name and password</p>
<!--                take username as input from the user-->
                <div class="form group">
                    <label class="required text-light">User Name <span id="errid"></span></label>
                    <input type="text" id="username" name="username" class="form-control" required/>
                    <p class="user text-danger"></p>
                </div>
<!--                take the password from the user-->
                <div class="form group mt-2">
                    <label class="required text-light">Password <span id="errpassword"></span></label>
                    <input type="password" id="password" name="password" class="form-control" required/>
                    <p class="password text-danger"></p>
                </div>
<!--                asking user whether he is a bank admin or official -->
                <div class="mt-2 p-2 text-light" >
                    <input type="radio" id="admin" name="role" value="admin">
                    <label for="admin">Admin</label>
                    <input type="radio" id="bank" name="role" value="bankOfficial">
                    <label for="bank">Bank Official</label>
                </div>
                <div th:if="${param.error}">
                    <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
                </div>
                <div class="mt-2 row justify-content-around">
<!--                    to click in case the user forgets his password-->
                    <p class="mb-1 pb-lg-1"><a class="text-white-50" href="#!">Forgot password?</a></p>
<!--                    two buttons for submit and reset.-->
                    <div class="mt-2 p-3 row justify-content-between">
                        <button class="col-3 btn btn-outline-success" id="submit" type="submit">
                            <i class="bi bi-box-arrow-in-right"></i>
                        </button>
                        <button class="col-3 btn btn-outline-info" type="reset">RESET
                        </button>
                    </div>
                </div>

            </form>
        </div>
        <div class=" col-lg-7 col-md-8 col-sm-12 mt-3 rounded-4 ">
            <div class="carousel slide rounded-4" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
<!--                        The main image -->
                        <img th:src="@{/images/caros2origin.png}" >
                    </div>
                </div>
            </div>
<!--            Details of the bank provided within marquee-->
            <marquee width="100%" behavior="scroll" direction="up" bgcolor="#00004F" class="mt-3 p-2 rounded-3 text-light">
                Origin Bank operates as a full service bank!!<br> The Company offers banking products and services such as savings accounts,<br>
                debit and credit cards,<br> business and personal loans, mortgages, cash management, line of credit, online banking, and e-statements.
            </marquee>
        </div>

    </div>
</div>
</body>
</html>